In [ ]:
#Start Assignment 3

Problem Statement 1: In a survey conducted by a non-banking financial company, a sample of 200 customers yielded that x of them were highly satisfied with the timely disbursal of their loans.

Write a Python code to perform the following operations:

1. Read an integer input that specifies the number of highly satisfied customers
2. Calculate an approximate 90% confidence interval for the proportion of the loan customers who are highly satisfied with disbursal time
   •Find out the Margin of Error using scipy.stats.norm.ppf
   •Calculate and print the confidence interval values rounded up to five decimal places and separated by a space

Note:
•Margin of Error = Critical Value * Standard Error of Statistic
•Confidence Interval = Sample Statistic ± Margin of Error

Example: Let's say 172 out of 200 customers were highly satisfied.
Sample Input:
172
The confidence interval should be printed as -
Sample Output:
0.82856 0.89144

The above question is incomplete. The customer dataset is not provided, to find standard deviation and standard mean.

Problem Statement 2: A radar unit is used to measure the speeds of cars on a motorway. The speeds are normally distributed with a mean of 75 km/hr and a standard deviation of 15 km/hr.

Write a Python code to perform the following operations:

1. Find the probability that a car picked at random is traveling at more than Xkm/hr
•Take the speed X as an input
•Print the probability value rounded up to four decimal places 

Hint:Use Normal Distribution.

Sample Input:100

In [2]:
import pandas as pd
import scipy.stats as stats
import math
import numpy as np


X = int(input("Enter speed in km/hr:"))
print('The speed of the car checked at a given point of time is',X,'km/hr')

mean = 75
standard_deviation = 15

#Create normal distribution using 'norm' class
#loc -> specifies the mean
#scale -> specifies the standard deviation

speed_distribution = stats.norm(loc=mean,scale=standard_deviation)

#Find probability that a car picked at random is traveling at more than 'X' km/hr
#Use cdf() method from norm class. CDF -> Cumulative Density Function. CDF gives you the probability of a normally distributed population that is less than or equal to a value.
#Subtract CDF output from 1 to get probability of a normally distributed population that is more than the value

probability_Xg = 1 - speed_distribution.cdf(x=X)
print("Probability that the car is traveling at more than X km/hr =",probability_Xg.round(4))

Enter speed in km/hr: 100

The speed of the car checked at a given point of time is 100 km/hr
Probability that the car is traveling at more than X km/hr = 0.0478

Problem Statement 3: Write a Python program to load the “kerala.csv” data into a DataFrame and perform the following tasks:

1.Explore the DataFrame using info()and describe()functions

2.June and July are the peak months of rainfall. Consider that if it rains more than 500mm, then chances of flood become more; create a Datarame with columns – “YEAR”, “JUN_GT_500”(Contains a boolean value to show whether it rained more than 500 mm in the month of June), “JUL_GT_500”(Contains a boolean value to show whether it rained more than 500 mm in the month of July),and “FLOODS”(Contains a boolean value to show whether it flooded that year)

3.Calculate the probability of flood given it rained more than 500 mm in June (P(A|B))

4.Calculate the probability of rain more than 500 mm in June,given it flooded that year (P(B|A))

5.Probability of flood given it rained more than 500 mm in July

6.Probability of rain more than 500 mm in July given it flooded that year (P(B|A))

In [18]:
import pandas as pd
import scipy.stats as stats
import math
import numpy as np
import warnings
warnings.filterwarnings('ignore')

flood_df = pd.read_csv(r"C:\Users\827180\AppData\Local\Programs\Python\Python311\Scripts\Data Science & ML Training Docs\kerala.csv")
flood_df.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL,FLOODS
0,KERALA,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6,YES
1,KERALA,1902,6.7,2.6,57.3,83.9,134.5,390.9,1205.0,315.8,491.6,358.4,158.3,121.5,3326.6,YES
2,KERALA,1903,3.2,18.6,3.1,83.6,249.7,558.6,1022.5,420.2,341.8,354.1,157.0,59.0,3271.2,YES
3,KERALA,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3,3129.7,YES
4,KERALA,1905,1.2,22.3,9.4,105.9,263.3,850.2,520.5,293.6,217.2,383.5,74.4,0.2,2741.6,NO

In [19]:
flood_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SUBDIVISION       118 non-null    object
 1   YEAR              118 non-null    int64
 2   JAN               118 non-null    float64
 3   FEB               118 non-null    float64
 4   MAR               118 non-null    float64
 5   APR               118 non-null    float64
 6   MAY               118 non-null    float64
 7   JUN               118 non-null    float64
 8   JUL               118 non-null    float64
 9   AUG               118 non-null    float64
 10  SEP               118 non-null    float64
 11  OCT               118 non-null    float64
 12  NOV               118 non-null    float64
 13  DEC               118 non-null    float64
 14   ANNUAL RAINFALL  118 non-null    float64
 15  FLOODS            118 non-null    object
dtypes: float64(13), int64(1), object(2)
memory usage: 14.9+ KB

In [20]:
flood_df.describe()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL
count,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000
mean,1959.500000,12.218644,15.633898,36.670339,110.330508,228.644915,651.617797,698.220339,430.369492,246.207627,293.207627,162.311017,40.009322,2925.405085
std,34.207699,15.473766,16.406290,30.063862,44.633452,147.548778,186.181363,228.988966,181.980463,121.901131,93.705253,83.200485,36.676330,452.169407
min,1901.000000,0.000000,0.000000,0.100000,13.100000,53.400000,196.800000,167.500000,178.600000,41.300000,68.500000,31.500000,0.100000,2068.800000
25%,1930.250000,2.175000,4.700000,18.100000,74.350000,125.050000,535.550000,533.200000,316.725000,155.425000,222.125000,93.025000,10.350000,2613.525000
50%,1959.500000,5.800000,8.350000,28.400000,110.400000,184.600000,625.600000,691.650000,386.250000,223.550000,284.300000,152.450000,31.100000,2934.300000
75%,1988.750000,18.175000,21.400000,49.825000,136.450000,264.875000,786.975000,832.425000,500.100000,334.500000,355.150000,218.325000,54.025000,3170.400000
max,2018.000000,83.500000,79.000000,217.200000,238.000000,738.800000,1098.200000,1526.500000,1398.900000,526.700000,567.900000,365.600000,202.300000,4473.000000

In [21]:
flood_df_500 = flood_df[["YEAR","JUN","JUL"]]
flood_df_500.head()

   YEAR     JUN     JUL
0  1901   824.6   743.0
1  1902   390.9  1205.0
2  1903   558.6  1022.5
3  1904  1098.2   725.5
4  1905   850.2   520.5

In [25]:
flood_df_500["JUN_GT_500"] = np.where(flood_df_500["JUN"]>500,1,0)
flood_df_500["JUL_GT_500"] = np.where(flood_df_500["JUL"]>500,1,0)
flood_df_500["FLOODS"] = np.where(flood_df["FLOODS"]=="YES",1,0)
flood_df_500.drop(["JUN","JUL"],axis=1,inplace=True)
flood_df_500.head()

   YEAR  JUN_GT_500  JUL_GT_500  FLOODS
0  1901           1           1       1
1  1902           0           1       1
2  1903           1           1       1
3  1904           1           1       1
4  1905           1           1       0

In [37]:
print("Probability of flood given it rained more than 500 mm in June (P(A|B)):")

# define the event A (flood occuring in a year)
event_A = flood_df_500.loc[np.where(flood_df_500["FLOODS"] == 1)]

# define the event B (rainfall greater than 500 mm in June)
event_B = flood_df_500.loc[np.where(flood_df_500["JUN_GT_500"] == 1)]

# calculate P(A ∩ B)
event_A_intersect_B = flood_df_500.loc[np.where((flood_df_500["FLOODS"] == 1) & (flood_df_500["JUN_GT_500"] == 1))]
prob_A_intersect_B = event_A_intersect_B["YEAR"].count() / 118

# calculate P(B)
prob_B = event_B["YEAR"].count() / 118

# calculate P(A|B)
prob_A_given_B = prob_A_intersect_B / prob_B
print(prob_A_given_B.round(5))

Probability of flood given it rained more than 500 mm in June (P(A|B)):
0.58065

In [42]:
print("Probability of rain more than 500 mm in June, given it flooded that year (P(B|A)):")

# define the event A (flood occuring in a year)
event_A = flood_df_500.loc[np.where(flood_df_500["FLOODS"] == 1)]

# define the event B (rainfall greater than 500 mm in June)
event_B = flood_df_500.loc[np.where(flood_df_500["JUN_GT_500"] == 1)]

# calculate P(B ∩ A)
event_B_intersect_A = flood_df_500.loc[np.where((flood_df_500["FLOODS"] == 1) & (flood_df_500["JUN_GT_500"] == 1))]
prob_B_intersect_A = event_B_intersect_A["YEAR"].count() / 118

# calculate P(B)
prob_A = event_A["YEAR"].count() / 118

# calculate P(B|A)
prob_B_given_A = prob_B_intersect_A / prob_A
print(prob_B_given_A.round(5))

Probability of rain more than 500 mm in June, given it flooded that year (P(B|A)):
0.9

In [43]:
print("Probability of flood given it rained more than 500 mm in July (P(A|B)):")

# define the event A (flood occuring in a year)
event_A = flood_df_500.loc[np.where(flood_df_500["FLOODS"] == 1)]

# define the event B (rainfall greater than 500 mm in July)
event_B = flood_df_500.loc[np.where(flood_df_500["JUL_GT_500"] == 1)]

# calculate P(A ∩ B)
event_A_intersect_B = flood_df_500.loc[np.where((flood_df_500["FLOODS"] == 1) & (flood_df_500["JUL_GT_500"] == 1))]
prob_A_intersect_B = event_A_intersect_B["YEAR"].count() / 118

# calculate P(B)
prob_B = event_B["YEAR"].count() / 118

# calculate P(A|B)
prob_A_given_B = prob_A_intersect_B / prob_B
print(prob_A_given_B.round(5))

Probability of flood given it rained more than 500 mm in July (P(A|B)):
0.59375

In [44]:
print("Probability of rain more than 500 mm in July, given it flooded that year (P(B|A)):")

# define the event A (flood occuring in a year)
event_A = flood_df_500.loc[np.where(flood_df_500["FLOODS"] == 1)]

# define the event B (rainfall greater than 500 mm in June)
event_B = flood_df_500.loc[np.where(flood_df_500["JUL_GT_500"] == 1)]

# calculate P(B ∩ A)
event_B_intersect_A = flood_df_500.loc[np.where((flood_df_500["FLOODS"] == 1) & (flood_df_500["JUL_GT_500"] == 1))]
prob_B_intersect_A = event_B_intersect_A["YEAR"].count() / 118

# calculate P(B)
prob_A = event_A["YEAR"].count() / 118

# calculate P(B|A)
prob_B_given_A = prob_B_intersect_A / prob_A
print(prob_B_given_A.round(5))

Probability of rain more than 500 mm in July, given it flooded that year (P(B|A)):
0.95

Problem Statement 4: Write a Python program to load the wine dataset using the Sklearn library to a DataFrame and perform the following tasks:

1.Convert the dataset into DataFrame using pandas.

2.Generate the sample size of 50 and give a random state as 100.

3.Calculate Z-critical, Margin of Error, and Confidence Interval for alcohol at 95% significance interval on generated sample data

In [48]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import math
import seaborn as sns
import sklearn
from sklearn.datasets import load_wine

wine_bunch = load_wine()

print(wine_bunch.keys())

print(wine_bunch.DESCR)

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names'])
.. _wine_dataset:

Wine recognition dataset
------------------------

**Data Set Characteristics:**

    :Number of Instances: 178
    :Number of Attributes: 13 numeric, predictive attributes and the class
    :Attribute Information:
 		- Alcohol
 		- Malic acid
 		- Ash
		- Alcalinity of ash
 		- Magnesium
		- Total phenols
 		- Flavanoids
 		- Nonflavanoid phenols
 		- Proanthocyanins
		- Color intensity
 		- Hue
 		- OD280/OD315 of diluted wines
 		- Proline

    - class:
            - class_0
            - class_1
            - class_2

    :Summary Statistics:

    ============================= ==== ===== ======= =====
                                   Min   Max   Mean     SD
    ============================= ==== ===== ======= =====
    Alcohol:                      11.0  14.8    13.0   0.8
    Malic Acid:                   0.74  5.80    2.34  1.12
    Ash:                          1.36  3.23    2.36  0.27
    Alcalinity of Ash:            10.6  30.0    19.5   3.3
    Magnesium:                    70.0 162.0    99.7  14.3
    Total Phenols:                0.98  3.88    2.29  0.63
    Flavanoids:                   0.34  5.08    2.03  1.00
    Nonflavanoid Phenols:         0.13  0.66    0.36  0.12
    Proanthocyanins:              0.41  3.58    1.59  0.57
    Colour Intensity:              1.3  13.0     5.1   2.3
    Hue:                          0.48  1.71    0.96  0.23
    OD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71
    Proline:                       278  1680     746   315
    ============================= ==== ===== ======= =====

    :Missing Attribute Values: None
    :Class Distribution: class_0 (59), class_1 (71), class_2 (48)
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

This is a copy of UCI ML Wine recognition datasets.
https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data

The data is the results of a chemical analysis of wines grown in the same
region in Italy by three different cultivators. There are thirteen different
measurements taken for different constituents found in the three types of
wine.

Original Owners:

Forina, M. et al, PARVUS -
An Extendible Package for Data Exploration, Classification and Correlation.
Institute of Pharmaceutical and Food Analysis and Technologies,
Via Brigata Salerno, 16147 Genoa, Italy.

Citation:

Lichman, M. (2013). UCI Machine Learning Repository
[https://archive.ics.uci.edu/ml]. Irvine, CA: University of California,
School of Information and Computer Science.

|details-start|
**References**
|details-split|

(1) S. Aeberhard, D. Coomans and O. de Vel,
Comparison of Classifiers in High Dimensional Settings,
Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of
Mathematics and Statistics, James Cook University of North Queensland.
(Also submitted to Technometrics).

The data was used with many others for comparing various
classifiers. The classes are separable, though only RDA
has achieved 100% correct classification.
(RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data))
(All results using the leave-one-out technique)

(2) S. Aeberhard, D. Coomans and O. de Vel,
"THE CLASSIFICATION PERFORMANCE OF RDA"
Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of
Mathematics and Statistics, James Cook University of North Queensland.
(Also submitted to Journal of Chemometrics).

|details-end|

In [51]:
#Convert the dataset into DataFrame using pandas
wine_df = pd.DataFrame(wine_bunch.data,columns=wine_bunch.feature_names)
wine_df["Class"]=wine_bunch.target
wine_df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,Class
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2

In [50]:
wine_df["Class"].value_counts()

Class
1    71
0    59
2    48
Name: count, dtype: int64

In [52]:
wine_df.isnull().sum()

alcohol                         0
malic_acid                      0
ash                             0
alcalinity_of_ash               0
magnesium                       0
total_phenols                   0
flavanoids                      0
nonflavanoid_phenols            0
proanthocyanins                 0
color_intensity                 0
hue                             0
od280/od315_of_diluted_wines    0
proline                         0
Class                           0
dtype: int64

In [54]:
#Generate the sample size of 50 and give a random state as 100

sample_size = 50
wine_data_sample = wine_df.sample(n=50, random_state=100)
wine_data_sample

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,Class
88,11.64,2.06,2.46,21.6,84.0,1.95,1.69,0.48,1.35,2.800000,1.00,2.75,680.0,1
159,13.48,1.67,2.64,22.5,89.0,2.60,1.10,0.52,2.29,11.750000,0.57,1.78,620.0,2
11,14.12,1.48,2.32,16.8,95.0,2.20,2.43,0.26,1.57,5.000000,1.17,2.82,1280.0,0
74,11.96,1.09,2.30,21.0,101.0,3.38,2.14,0.13,1.65,3.210000,0.99,3.13,886.0,1
158,14.34,1.68,2.70,25.0,98.0,2.80,1.31,0.53,2.70,13.000000,0.57,1.96,660.0,2
149,13.08,3.90,2.36,21.5,113.0,1.41,1.39,0.34,1.14,9.400000,0.57,1.33,550.0,2
99,12.29,3.17,2.21,18.0,88.0,2.85,2.99,0.45,2.81,2.300000,1.42,2.83,406.0,1
96,11.81,2.12,2.74,21.5,134.0,1.60,0.99,0.14,1.56,2.500000,0.95,2.26,625.0,1
90,12.08,1.83,2.32,18.5,81.0,1.60,1.50,0.52,1.64,2.400000,1.08,2.27,480.0,1
95,12.47,1.52,2.20,19.0,162.0,2.50,2.27,0.32,3.28,2.600000,1.16,2.63,937.0,1
134,12.51,1.24,2.25,17.5,85.0,2.00,0.58,0.60,1.25,5.450000,0.75,1.51,650.0,2
65,12.37,1.21,2.56,18.1,98.0,2.42,2.65,0.37,2.08,4.600000,1.19,2.30,678.0,1
171,12.77,2.39,2.28,19.5,86.0,1.39,0.51,0.48,0.64,9.899999,0.57,1.63,470.0,2
165,13.73,4.36,2.26,22.5,88.0,1.28,0.47,0.52,1.15,6.620000,0.78,1.75,520.0,2
169,13.40,4.60,2.86,25.0,112.0,1.98,0.96,0.27,1.11,8.500000,0.67,1.92,630.0,2
15,13.63,1.81,2.70,17.2,112.0,2.85,2.91,0.30,1.46,7.300000,1.28,2.88,1310.0,0
145,13.16,3.57,2.15,21.0,102.0,1.50,0.55,0.43,1.30,4.000000,0.60,1.68,830.0,2
7,14.06,2.15,2.61,17.6,121.0,2.60,2.51,0.31,1.25,5.050000,1.06,3.58,1295.0,0
77,11.84,2.89,2.23,18.0,112.0,1.72,1.32,0.43,0.95,2.650000,0.96,2.52,500.0,1
41,13.41,3.84,2.12,18.8,90.0,2.45,2.68,0.27,1.48,4.280000,0.91,3.00,1035.0,0
150,13.50,3.12,2.62,24.0,123.0,1.40,1.57,0.22,1.25,8.600000,0.59,1.30,500.0,2
32,13.68,1.83,2.36,17.2,104.0,2.42,2.69,0.42,1.97,3.840000,1.23,2.87,990.0,0
118,12.77,3.43,1.98,16.0,80.0,1.63,1.25,0.43,0.83,3.400000,0.70,2.12,372.0,1
92,12.69,1.53,2.26,20.7,80.0,1.38,1.46,0.58,1.62,3.050000,0.96,2.06,495.0,1
40,13.56,1.71,2.31,16.2,117.0,3.15,3.29,0.34,2.34,6.130000,0.95,3.38,795.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.380000,1.05,3.40,1050.0,0
75,11.66,1.88,1.92,16.0,97.0,1.61,1.57,0.34,1.15,3.800000,1.23,2.14,428.0,1
114,12.08,1.39,2.50,22.5,84.0,2.56,2.29,0.43,1.04,2.900000,0.93,3.19,385.0,1
64,12.17,1.45,2.53,19.0,104.0,1.89,1.75,0.45,1.03,2.950000,1.45,2.23,355.0,1
163,12.96,3.45,2.35,18.5,106.0,1.39,0.70,0.40,0.94,5.280000,0.68,1.75,675.0,2
147,12.87,4.61,2.48,21.5,86.0,1.70,0.65,0.47,0.86,7.650000,0.54,1.86,625.0,2
69,12.21,1.19,1.75,16.8,151.0,1.85,1.28,0.14,2.50,2.850000,1.28,3.07,718.0,1
26,13.39,1.77,2.62,16.1,93.0,2.85,2.94,0.34,1.45,4.800000,0.92,3.22,1195.0,0
97,12.29,1.41,1.98,16.0,85.0,2.55,2.50,0.29,1.77,2.900000,1.23,2.74,428.0,1
146,13.88,5.04,2.23,20.0,80.0,0.98,0.34,0.40,0.68,4.900000,0.58,1.33,415.0,2
151,12.79,2.67,2.48,22.0,112.0,1.48,1.36,0.24,1.26,10.800000,0.48,1.47,480.0,2
111,12.52,2.43,2.17,21.0,88.0,2.55,2.27,0.26,1.22,2.000000,0.90,2.78,325.0,1
119,12.00,3.43,2.00,19.0,87.0,2.00,1.64,0.37,1.87,1.280000,0.93,3.05,564.0,1
170,12.20,3.03,2.32,19.0,96.0,1.25,0.49,0.40,0.73,5.500000,0.66,1.83,510.0,2
142,13.52,3.17,2.72,23.5,97.0,1.55,0.52,0.50,0.55,4.350000,0.89,2.06,520.0,2
29,14.02,1.68,2.21,16.0,96.0,2.65,2.33,0.26,1.98,4.700000,1.04,3.59,1035.0,0
152,13.11,1.90,2.75,25.5,116.0,2.20,1.28,0.26,1.56,7.100000,0.61,1.33,425.0,2
136,12.25,4.72,2.54,21.0,89.0,1.38,0.47,0.53,0.80,3.850000,0.75,1.27,720.0,2
167,12.82,3.37,2.30,19.5,88.0,1.48,0.66,0.40,0.97,10.260000,0.72,1.75,685.0,2
46,14.38,3.59,2.28,16.0,102.0,3.25,3.17,0.27,2.19,4.900000,1.04,3.44,1065.0,0
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.300000,0.70,1.56,750.0,2
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.200000,0.61,1.60,560.0,2
139,12.84,2.96,2.61,24.0,101.0,2.32,0.60,0.53,0.81,4.920000,0.89,2.15,590.0,2
20,14.06,1.63,2.28,16.0,126.0,3.00,3.17,0.24,2.10,5.650000,1.09,3.71,780.0,0
31,13.58,1.66,2.36,19.1,106.0,2.86,3.19,0.22,1.95,6.900000,1.09,2.88,1515.0,0

In [56]:
#Calculate Z-critical, Margin of Error,and Confidence Interval for "alcohol" at 95% significance interval on the generated sample data

sample_mean = wine_data_sample["alcohol"].mean()
sample_std = wine_data_sample["alcohol"].std()

a = math.sqrt(sample_size)
z_critical = stats.norm.ppf(q=0.95)
print("Z-critical value:",z_critical)

#M.O.E = z-score * (S.D / sample size**(1/2))
margin_of_error = z_critical * (sample_std/a)
print("Margin of Error:",margin_of_error)

#Confidence Interval = (Sample Mean + M.O.E, Sample Mean - M.O.E)
confidence_interval = (sample_mean - margin_of_error, sample_mean + margin_of_error)
print("Confidence Interval:",confidence_interval)

Z-critical value: 1.6448536269514722
Margin of Error: 0.17880519784197366
Confidence Interval: (12.794794802158025, 13.152405197841974)